<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Information Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Car Information Form</h1>
        <form method="post" accept-charset="UTF-8">
            <div class="form-group">
                <label for="company">Company</label>
                <select class="form-control" id="company" placeholder="Enter car company" required="1">
                    {% for company in companies %}

                    <option value="{{ company}}">{{ company }}</option>

                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                <select class="form-control" id="model" placeholder="Enter car model" required="1">
                    {% for model in car_models %}

                    <option value="{{ model }}">{{ model }}</option>

                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="year">Year of Purchase</label>
                <input type="number" class="form-control" id="year" placeholder="Enter year of purchase" required="1">
            </div>
            <div class="form-group">
                <label for="fuelType">Fuel Type</label>
                <select class="form-control" id="fuelType" required="1">
                    <option value="" disabled="" selected="">Select fuel type</option>
                    <option value="petrol">Petrol</option>
                    <option value="diesel">Diesel</option>
                    <option value="electric">Electric</option>
                    <option value="hybrid">Hybrid</option>
                </select>
            </div>
            <div class="form-group">
                <label for="kilometers">Number of Kilometers</label>
                <input type="number" class="form-control" id="kilometers" placeholder="Enter number of kilometers" required="1">
            </div>
            <button type="submit" class="btn btn-primary" onclick="send_data()">Submit</button>
            <br><br>
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <h3><span id="prediction"></span></h3>

                </div>

            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function form_handler(event)
        {
            event.preventDefault();
        }


        function send_data()
        {
            document.querySelector('form').addEventListener('submit', form_handler);
            var fd = new FormData(document.querySelector('form'));
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/predict', true);
            document.getElementById("prediction").innerHTML="Wait! We are predicting the price...";
            xhr.onreadystatechange = function()
            {
                if(xhr.readyState == XMLHttpRequest.DONE)
            {
                document.getElementById("prediction").innerHTML="Prediction: ₹"+xhr.responseText;
            }
            }
            xhr.onload= function(){};
            xhr.send(fd);
        }
    </script>
</body>
</html>